# Backup files
*~

# Python module caches
__pycache__/

# Vim swap files
.*.sw*

# IPython notebook checkpoints
.ipynb_checkpoints/

# package build and install directories
build/
dist/
matrix.egg-info/

